* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    background-color: #F8AA44;
    padding: 10px;
    text-align: center;
    width: auto;
}

#giovanni {
    padding: 5px;
    color: white;
}

#menu1 {
    margin-top: 10px;
}

#home {
    text-decoration: none;
    color: white;
}

#home:hover {
    background-color: rgb(43, 40, 40);
    color: white;
    padding: 5px;
    border-radius: 10px;
}

#home:active {
    background-color: rgb(62, 148, 74);
    font-style: italic;
}

#menu2 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}

#title-menu {
    text-align: center;
    padding: 40px;
}

#title-eu {
    font-size: 30px;
}

#profile {
    border-radius: 40px;
}

.menu3 {
    background-color: #F8AA44;
    margin-top: 10px;
    text-align: center;
    width: auto;
    height: 200px;
}

.jogos {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
}

.top-jogos {
    display: flex;
    justify-content: center;
}

.link-jogos {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 50px;
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 10px 10px grey;
}

.link-jogos:hover {
    background-color: rgb(38, 38, 236);
    color: white;
    font-style: italic;
}

#footer {
    margin-left: 10px;
}

.rede-social {
    margin-top: 5px;
    width: 25px;
    padding: 4px;
}


.rede-social:hover {
    background-color: #F8AA44;
    border-radius: 15px;
}

@media only screen and (max-width: 600px) {
    #menu2 {
        flex-direction: column;
        width: 500px;
    }

    #menu1 {
        margin-top: 10px;
    }

    #profile {
        width: 300px;
        border-radius: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .top-jogos {
        flex-direction: column;
    }

    .menu3 {
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    #menu2 {
        flex-direction: column;
        width: 500px;
    }

    #menu1 {
        margin-top: 10px;
    }

    #profile {
        width: 300px;
        border-radius: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .top-jogos {
        flex-wrap: wrap;
    }

    .menu3 {
        height: auto;
    }
}

@media only screen and (max-width: 992px) {
    #menu2 {
        flex-direction: column;
        width: 500px;
    }

    #menu1 {
        margin-top: 10px;
    }

    #profile {
        width: 300px;
        border-radius: 40px;
        margin-left: auto;
        margin-right: auto;
    }

    .top-jogos {
        flex-wrap: wrap;
    }

    .menu3 {
        height: auto;
    }
}